body {
    background-color: #000000 !important;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-card {
    background-color: #fff;
    color: #000;
    max-width: 400px;
    margin: 250px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

}

.btn-custom {
    background-color: #ffc107;
    border: none;
    color: #000;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #e0a800;
}

.alert {
    font-size: 0.9rem;
    border-radius: 8px;
}
