{% extends 'core/base_dashboard.html' %}
{% load static %}

{% block title %}Plantillas de Rutinas{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold mb-0">
      <img src="{% static 'img/planes.png' %}" alt="icono de pesas"> Plantillas de Rutinas
    </h3>
    <a href="{% url 'crear_rutina' %}" class="btn btn-dark text-warning fw-bold">
      + Nueva Rutina
    </a>
  </div>

{% if messages %}
  {% for message in messages %}
    <span id="mensaje-rutina" data-mensaje="{{ message }}"></span>
  {% endfor %}
{% endif %}


  <div class="table-responsive">
    <table class="table table-striped align-middle shadow-sm">
      <thead class="table-dark">
        <tr>
          <th>Título</th>
          <th>Objetivo</th>
          <th>IMC mínimo</th>
          <th>IMC máximo</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for rutina in rutinas %}
        <tr>
          <td>{{ rutina.titulo }}</td>
          <td>{{ rutina.get_objetivo_display }}</td>
          <td>{{ rutina.imc_min }}</td>
          <td>{{ rutina.imc_max }}</td>
          <td>{{ rutina.descripcion|truncatewords:10 }}</td>

          <td class="text-center">
          <div class="d-flex gap-2 justify-content-center">

              <a href="{% url 'editar_rutina' rutina.id %}" 
                  class="btn btn-outline-dark btn-sm me-2"
                  title="Editar">
                  ✏️
              </a>

              <a href="{% url 'eliminar_rutina' rutina.id %}" 
                  class="btn btn-outline-danger btn-sm me-2 eliminar-rutina"
                  title="Eliminar">
                  🗑️
              </a>

          </div>
      </td> 




        </tr>
        {% empty %}
        <tr>
          <td colspan="6" class="text-center py-3 text-muted">
            No hay rutinas base registradas.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/rutinas/rutinas.js' %}"></script>
{% endblock %}
