  .export-btn {
    background-color: #198754;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  .export-btn:hover {
    background-color: #157347;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  }
  .export-btn i { color: #fff; }

  .btn-dark {
    background-color: #111;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  .btn-dark:hover {
    background-color: #ffc107;
    color: #111 !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  }

  .card-resumen {
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
}
.card-resumen:hover {
  transform: scale(1.03);
}

.card-grafico {
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.export-btn i {
  margin-top: 1px;
}
